body{
    margin: 0;
    padding: 0;
    background: rgb(238,174,227);
    background: radial-gradient(circle, rgba(238,174,227,1) 0%, rgba(148,214,233,1) 100%);
    padding-top: 50px;
  
   
  }
  
   .texto-borde {
    -webkit-text-stroke: 2px black;
    color: transparent; 
  }

  .titulo{
    font-family: 'Dancing Script', cursive;
    color: rgb(230, 103, 124);
    font-size: 65px;
    margin-top: 20;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 0.1em 0.1em #eea0a0;
    
}
  
  
  h2 {
    -webkit-text-stroke: 2px black;
    color: transparent; 
    color:#f7b385;
    font-family:Impact;
    font-size: 35px;
    text-align: center;
    
    }
  
  
  h3{ 
    font-family: 'Orbitron', sans-serif;
    font-size: 45px;
    color:rgb(230, 103, 124);
    margin-top: 0;
    margin-bottom: 15px;
     text-align: center;
     align-content: center;
     text-shadow: 0.1em 0.1em #333;
    font-size:38px;
   
  
  }
  
  p {
    text-align: center;
  }
  
  footer{
    font-family: Impact,sans-serif;
    background-size: 50%;
    margin-top:auto;
    padding-bottom: 50px;
    font-size: 20px;
    align-items: center;
   
    
  }
  footer a{
   color: rgb(174, 0, 255);
   text-decoration: none;

  }
  footer a:hover{
  color: rgb(38, 7, 54);
  
  
  }
  .carousel-container {
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .carousel {
    display: flex;
    scroll-snap-align: start;
  }
  
  .carousel img {
    flex: 0 0 100%;
    scroll-snap-align: start;
  }
  .contListaNav{
    padding-left: 0;
    list-style: none;
    display: flex;
    width: 100%;
    background: rgba(190, 111, 245, 0.847);
}
.contListaNav li{
    padding: 0;
    margin: 0.5% 1.5%;

}
.contListaNav a:hover{
    color: rgb(238, 135, 151);
    border-bottom: 1px solid wheat;
}
.aennav {
    font-family: Impact,sans-serif;
    text-decoration: none;
    color: white;
}
  
   
 
  
  
  
  
  
 
  